@import url("https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f5f5f5;
    --text-color: #333333;
    --link-color: #0077cc;
    --link-hover-color: #005fa3;
    --title-color: #000000;
    --border-color: #dddddd;
    --code-bg-color: #fefefe;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0a0a0a;
    --text-color: #dddddd;
    --link-color: #ffb600;
    --link-hover-color: #ff8c00;
    --title-color: #ffffff;
    --border-color: #333333;
    --code-bg-color: #2b303b;
  }
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  padding: 0 4px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

time {
  white-space: nowrap;
}

pre {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "JetBrains Mono", monospace;
  position: relative;
  border-radius: 5px;
}

pre code {
  width: 100%;
  display: block;
  overflow-x: auto;
  scrollbar-width: none;
}

pre .copy-code {
  position: absolute;
  top: 0.35rem;
  right: 0.35rem;
  height: 18px;
  width: 18px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

pre .copy-code:hover {
  color: var(--link-color);
}

pre .copy-code.copied {
  color: green !important;
}

p > code,
li > code {
  background-color: var(--code-bg-color);
  font-size: 0.875rem;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  line-height: 1.625rem;
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
.zola-anchor {
  color: var(--title-color);
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 1rem;
  line-height: 2.25rem;
}

article h1 {
  font-size: 1.75rem;
  line-height: 2rem;
}

.zola-anchor {
  font-size: 1.25rem !important;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
}

.zola-anchor:hover::before {
  content: "🔗";
  position: absolute;
  font-size: 1rem;
  margin-left: -1.375rem;
  transform: translate(0, -50%);
  top: 50%;
}

/*  */

body {
  margin: 0 auto;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

body > header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

body > main {
  flex: 1;
}

body > footer {
  border-top: var(--text-color) 1px solid;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
}

body > header > div {
  display: flex;
  gap: 1.5rem;
}

body > header a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

body > header a:hover,
body > header a.current {
  color: var(--title-color);
  border-bottom: 2px solid var(--link-color);
  text-decoration: none;
}

main > h2 {
  margin: 1rem 0 0.75rem;
}

main > h2:first-child {
  margin-top: 0;
}

/*  */

.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list > li {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0;
}

article > header {
  margin-bottom: 1rem;
}

article img,
article svg {
  width: 100%;
  max-width: 720px;
  display: block;
  margin: 0 auto;
}

article > img {
  margin-bottom: 12px;
}

.tags-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

hr {
  border-top: none;
  border-bottom: var(--text-color) 1px solid;
}

.post {
  border-bottom: var(--text-color) 1px solid;
}

.post > header > h1 {
  margin-bottom: 0.75rem;
}

.post-meta {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.post-meta > div {
  vertical-align: middle;
}

.post-meta i {
  margin: 0 0.15rem;
}

a.post-edit {
  color: var(--text-color);
  text-decoration: none;
  opacity: 0.75;
}

a.post-edit:hover {
  text-decoration: underline;
}

.post blockquote {
  border-left: 2px solid var(--link-color);
  padding-left: 1rem;
  margin: 0;
  font-style: italic;
}

.post hr:last-of-type + ol {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.post hr:last-of-type + ol a {
  color: var(--text-color);
}

.post hr:last-of-type + ol a:hover {
  color: var(--link-hover-color);
}

.social-share {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.social-share a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.25rem;
}

.social-share a:hover {
  color: var(--link-hover-color);
}

/*  */

.projects-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects-list li {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
  line-height: 1.25rem;
}

.project-langs {
  display: inline-flex;
  gap: 0.5rem;
  line-height: 1rem;
}

.project-langs > div {
  border: 1px solid var(--border-color);
  font-size: 0.75rem;
  border-radius: 0.25rem;
  padding: 0rem 0.25rem;
  background-color: var(--bg-color);
}

.wallets-list {
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.wallets-list code {
  cursor: pointer;
  font-size: 1.15rem;
  text-overflow: ellipsis;
}
