{% import "_macros.html" as macros %}

{% set page_url = config.base_url -%}
{% if current_url %}{% set page_url = current_url %}{% endif -%}

{% set og_title = config.title -%}
{% if section.title %}{% set og_title = section.title %}{% endif -%}
{% if page.title %}{% set og_title = page.title %}{% endif -%}

{% set page_title = og_title ~ " :: " ~ config.title -%}

{% set page_descr = config.description -%}
{% if section.description %}{% set page_descr = section.description %}{% endif -%}
{% if page.description %}{% set page_descr = page.description %}{% endif -%}

{% if page %}
{% set page_descr = page.content | linebreaksbr | striptags | truncate(length=160) -%}
{% endif -%}

{% set page_image = "" -%}
{% set page_image = "https://ogp.fly.dev/v0/png?title={title}&author={author}&photo=https://avatars.githubusercontent.com/u/825754&url={site}&theme=dracula" | replace(from="{title}", to=og_title|urlencode) | replace(from="{author}", to=config.extra.github) | replace(from="{site}", to=config.base_url|safe) %}

{% set kw = [] -%}
{% if config.extra.keywords %}{% set kw = kw | concat(with=config.extra.keywords) %}{% endif -%}
{% if page.extra.keywords %}{% set kw = kw | concat(with=page.extra.keywords) %}{% endif -%}
{% if page.taxonomies.tags %}{% set kw = page.taxonomies.tags %}{% endif -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes">

    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_descr }}" />
    <meta name="keywords" content="{{ kw | join(sep=', ') }}" />
    <link rel="alternate" type="application/atom+xml" title="vnotes feed" href="/atom.xml" />

    <meta property="og:url" content="{{ page_url | safe }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ og_title }}" />
    <meta property="og:description" content="{{ page_descr }}" />
    <meta property="og:image" content="{{ page_image | safe }}" />

    <meta property="twitter:domain" content="vladkens.cc">
    <meta property="twitter:url" content="{{ page_url | safe }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ og_title }}">
    <meta name="twitter:description" content="{{ page_descr }}">
    <meta name="twitter:image" content="{{ page_image | safe }}">

    {%- if page %}
    <meta name="twitter:creator" content="@{{ config.extra.twitter }}" />
    <meta name="twitter:label1" content="Reading time" />
    <meta name="twitter:data1" content="{{ page.reading_time }} min read" />
    {% endif -%}

    <link rel="icon" href="https://avatars.githubusercontent.com/u/825754" />
    <link href="{{ get_url(path='main.css', cachebust=true) }}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div>
        <a href="/">main</a>
        <a href="/tags">tags</a>
        <a href="/atom.xml">rss</a>
      </div>

      <div>
        <a target="_blank" href="https://github.com/{{ config.extra.github }}">github</a>
        <a target="_blank" href="https://x.com/{{ config.extra.twitter }}">x</a>
      </div>
    </header>

    <main>{% block main_content %} Nothing here?! {% endblock main_content %}</main>

    <footer>© {{ now() | date(format="%Y") }} All rights reserved. Code samples are public domain unless otherwise noted.</footer>

    <script src="{{ get_url(path='main.js', cachebust=true) }}"></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="2314c16c-b72f-4f6e-8f5e-ee3abe39383e"></script>
    <script defer src="https://tinylytics.app/embed/v4UsF6_jPyqs_XtwmnV7.js"></script>
  </body>
</html>
