{% extends "base.html" %}

{% block main_content %}
<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
      <div>
        Posted at <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
        <i>•</i> {{ page.word_count }} words ~ {{ page.reading_time }} min read
        {% if page.extra | length > 0 %}
        <i>•</i> Also read on: {%- for key, value in page.extra -%}
            {% if not loop.first %}, {% endif %}
            <a target="_blank" href="{{ value }}">{{ key }}</a>
          {%- endfor -%}
        {% endif %}
      </div>

      <div>
        {% if page.taxonomies.tags | length > 0 %}
        Tags: {%- for tag in page.taxonomies.tags -%}
            {% if not loop.first %}, {% endif %}
            <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}" class="post-tag">{{ tag }}</a>
          {%- endfor %} <i>•</i>
        {% endif %}
        <a class="post-edit" target="_blank" href="https://github.com/vladkens/blog/edit/main/content/{{ page.relative_path | safe }}">Edit this page</a>
      </div>
    </div>
  </header>

  {{ page.content | safe }}
</article>

<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/medium-zoom.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/style.min.css" rel="stylesheet" />
<script>mediumZoom('article img', { background: '#00000030' })</script>

<script src="https://giscus.app/client.js"
        data-repo="vladkens/blog"
        data-repo-id="R_kgDOMlJ4xA"
        data-category="General"
        data-category-id="DIC_kwDOMlJ4xM4CjC_Y"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        data-loading="lazy"
        async>
</script>

{% endblock main_content %}
