name: deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0" # every Sunday at midnight
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: zola@0.20.0

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run projects update script
        run: python _projects_update.py

      - run: zola build

      - uses: cloudflare/pages-action@v1
        if: github.ref == 'refs/heads/main'
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          projectName: vnotes
          directory: public
